body {
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #008aff;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/main/hero.jpg");
    background-size: cover;
    background-position-x: 0%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;
    //overflow: hidden;
}

.contact-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/main/contact_bgr.jpg");
    background-size: cover;
    background-position-x: 0%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;
    //overflow: hidden;
}

.logo {

    img {
    width: 10em;
    }
}

.logo_black {
    display: none;
}

nav {
    //display: none;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;
            width: 100%;

            &:hover {
                background: rgb(243, 243, 243);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 3em;
        margin-top: -.6em;
        cursor: pointer;
    }

}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.subhead {
    font-size: 1.4rem;
    margin-bottom: 5em;
}

section.hero {
    color: white;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .down-arrow {
        stroke: white;
        position: absolute;
        bottom: 8em;
        width: 1em;
        animation: moveArrow 1s alternate-reverse infinite;

        path {
            fill: white;
        }
    }
}

.short-explanation {

    p {
        margin-top: 2em;
        width: 100%;
    }

    .bn39 {
        background-image: linear-gradient(135deg, #008aff, #89b10b);
        border-radius: 6px;
        box-sizing: border-box;
        color: #333;
        display: block;
        height: 50px;
        font-size: 1em;
        font-weight: bold;
        padding: 4px;
        position: relative;
        text-decoration: none;
        width: 23em;
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .bn39:hover {
        color: #fff;
      }
      
      .bn39 .bn39span {
        align-items: center;
        background: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        height: 100%;
        transition: background 0.5s ease;
        width: 100%;
      }
      
      .bn39:hover .bn39span {
        background: transparent;
      }

}

.open-nav {
    transform: translateX(0);
}


section.logotypy {
    
    img {
        width: 100%;
        height: 3.5em;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 0.5em;
        margin-top: 2.5em;
    }
}

section.about-me {
    line-height: 1.5em;
    height: 100vh;

    img {
        width: 100%;
        object-fit: cover;
        height: 20em;
        margin-top: 5em;
        border-radius: .5em;
    }

    p {
        margin-top: 3em;
        margin-bottom: 5em;
    }
}



@media only screen and (min-width:680px) {

    body {
        margin: 1.5em 5em;
        font-family: "Poppins", sans-serif;
    }
    
}


@media only screen and (min-width:920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: white;
                padding: .5em 1.5em;
                font-size: .9rem;

                &:hover {
                background: none;
                text-decoration: underline;
            }
        }
    }
}

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo {
        display: none;
    }

    .logo_black {
        display: block;
        img {
        width: 10em;
        }
    }

    section.hero {
        color: black;
        height: auto;
        width: 45%;
        margin-bottom: 16em;

        h1 {
            font-size: 2.3rem;
        }

        .subhead {
            font-size: 1rem;
        }

        svg.down-arrow {
            stroke: #008aff;
            position: unset;

            path {
                fill: #008aff;
            }
        }
    }

    .short-explanation {
        margin-top: 18em;
        line-height: 2.2em;
    }

    section.about-me {
        display: flex;
        height: 50vh;
    
        img {
            width: 20em;
            object-fit: cover;
            height: 21em;
            margin-top: 5em;
            border-radius: .5em;
        }
    
        p {
            margin-top: 5em;
            margin-left: 2em;
        }
    }
}

@media only screen and (min-width:1200px) {

    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px)
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
